# Local Configuration Folders
config/
outputs/
workspace/
examples/

# IDE 
.vscode/
# Git
.git/
.github/
.gitignore
# Python Virtual Environment
.venv/
# Cursor
.cursor/
# Python Caches and Test Files
**/__pycache__/
tests/
pytest.ini
.pytest_cache/
*.pyc
htmlcov/
.coverage

# Development Dependencies
requirements.dev.txt

# Renovate
renovate.json

# Logs
**/*.log
